@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    margin: 0;
    display: grid;
    grid-gap: 0;
    background: url('fog.png');
    background-size: cover;
}

#logo {
    padding: 0;
    margin: 10px;
    max-height: 50px;
    max-width: 50px;
}

#slika:hover {
    content: url("logohover.png");
    height: 50px;
    width: 50px;
    margin: 10px;
}

#header {
    overflow: hidden;
}

#header h1 {
    float: right;
    color: #122b39;
    font-family: 'Poppins';
    margin-right: 10px;
}

#header ul {
    list-style-type: none;
    padding-left: 0;
}

#header li {
    box-sizing: border-box;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
}

.ostali {
    background-color: rgba(249, 249, 249, 0.329);
}

#trenutni {
    background-color: #aaaaaa;
}

.ostali:hover {
    background-color: #aaaaaa;
}

#header a {
    color: #122b39b0;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-decoration: none; 
    font-weight: 800;
    cursor: pointer;
}

#glavni {
    border: 3px #122b3980 solid;
    border-radius: 10px;
    background-color: #4fa3d12f;
    display: grid;

}

#glavni p {
    grid-column: 1/5;
    margin-left: 5em;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 800;
}

form {
    margin: 10px;
    border: none;
    border-radius: 15px;
    text-align: center;
}

fieldset {
    border: 3px solid #122b3980;
    background-color: #122b3965;
    border-radius: 10px;
}

legend {
    font-family: 'Poppins';
    font-weight: 600;
}

#create {
    grid-column: 1/2;
}

#addCommit {
    grid-column: 2/3;
}

#edit {
    grid-column: 3/4;
}

#delete {
    grid-column: 4/5;
}

button {
    margin-top: 10px;
    width: 70%;
    height: 30px;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 15px;
    box-sizing: border-box;
    border: none;
    display: inline-block;
    border-radius: 15px;
    background-color: #122b3980;
    margin-bottom: 30px;
    cursor: pointer;
    overflow: hidden;
}

button:hover {
    border: 1px inset;
    background-color: #66666644;
}

input[type="number"], input[type="text"] {
    width: 80%;
    height: 30px;
    font-family: 'Poppins';
    font-size: 20px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

#glavni table {
    grid-column: 1/5;
    width: 100%;
    height: 100%;
}

#glavni th {
    border: 3px #122b3980 solid;
    border-radius: 10px;
    background-color: #122b3965;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#glavni td {
    border: 3px #122b3980 solid;
    border-radius: 10px;
    background-color: #66666655;
    font-family: 'Poppins';
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#commiti p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    text-align: center;
}

#glavni a {
    font-family: 'Poppins';
    color: #000000;
}

#glavni .link:hover {
    background-color: #666666cc;
}

#footer {
    text-align: center;
}    

#footer p {
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 800;
    color: #122b39;
}

@media (max-width: 600px) {
    body {
        margin: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 0;
        background: url('fog.png');
        background-size: cover;
    }
    
    #header {
        display: grid;
        grid-template-rows: auto auto auto;
    }

    #header h1 {
        grid-row: 3/4;
    }

    #create {
        grid-column: 1/5;
        grid-row: 4/5;
    }
    
    #addCommit {
        grid-row: 5/6;
        grid-column: 1/5;
    }
    
    #edit {
        grid-row: 6/7;
        grid-column: 1/5;
    }
    
    #delete {
        grid-row: 7/8;
        grid-column: 1/5;
    }
}